- scripts = htmlWebpackPlugin.options.scripts || []
- links = htmlWebpackPlugin.options.links || []
- meta = htmlWebpackPlugin.options.meta || []
doctype html
html
    head
        if htmlWebpackPlugin.options.baseHref
            base(href=htmlWebpackPlugin.options.baseHref)
            // 修改href为部署的绝对地址，比如:http://www.sample.com/spzb
        meta(http-equiv='X-UA-Compatible',content='IE=EDGE')
        meta(charset='UTF-8')
        each mt in meta
            meta&attributes(mt)
        each lk in links
            - var item = lk
            if (typeof lk == 'string' || lk instanceof String)
                - item = {'href': item, 'rel': 'stylesheet'}
            link&attributes(item)
        each css in htmlWebpackPlugin.files.css
            link(rel= 'stylesheet',href=css)
        title= htmlWebpackPlugin.options.title

    body
        #root
        each sc in scripts
            - var sItem = sc
            if (typeof sItem == 'string' || sItem instanceof String)
                - sItem = {src:sItem}
            script(type='text/javascript')&attributes(sItem)
        each file in htmlWebpackPlugin.files.chunks
            script(type='text/javascript',src=file.entry)
